.drawer-menu {
    list-style: none;
    > li {
        padding: 5px;
        font-size: 14px;
        &:hover {
            background: $drawer-item-background-color;
            color: #FFFFFF;
        }
    }
}