.ivu-layout-footer {
    color: #F5F5F5;
    > p {
        text-align: center;
        margin-bottom: 10px;
    }
    div ul {
        list-style: none;
        text-align: center;
        display: flex;
        justify-content: center;
        > li {
            margin: 0 10px;
        }
    }
}