.ivu-layout {
    background: #f5f7f9;
}

.ivu-layout-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #fff;
    > div i{
        margin-left: 5px;
    }
}

.ivu-carousel-track {
    text-align: center;
    > .ivu-carousel-item {
        > img {
            max-width: 100%;
            height: auto;
        }
    }
}
.ivu-layout-content {
    margin-top: 64px;;
}

.ivu-layout-footer {
    height: 100px;
    background: $footer-background;
    padding: 15px 15px;
    color: #000;
    font-size: 14px;
}
