body {
    background-color: #e2d2bc;
}

.link-wrap{
    height: 100%;
    background-color: #e2d2bc;
    font-family: sans-serif;
    text-align: center;
    color: #978175;

    >.since {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .sanse-store {
        background-image: url('../images/sanaestore.png');
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 35px;
    }

    .link-title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .link-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        >div {
            background: #fff;
            display: block;
            border-radius: 30px;
            padding: 0.5rem 0;
            margin-bottom: 1.5rem;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 5px;
            cursor: pointer;

            &:hover {
                background: #978175;
                color: #fff;
            }
        }
    }

    .viewers {
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem;
    }
}