.logo {
    background: #ffffff;
    text-align: center;
    padding: 1rem 0;
    > img {
        animation: 3s appear;
        max-width: 200px;
    }

    &.link {
        background: none;
        > img {
            width: 130px;
            border-radius: 50%;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
