// 暫時先不用
ul.home-category {
  display: flex;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #9c9c9c;
  margin-bottom: 0.5em;
  > li {
    display: table;
    width: 50%;
    height: 3em;
    list-style: none;

    &.active {
      background-color: #7d7c7b;
      color: #ffffff;
    }

    &:hover {
      cursor: pointer;
    }

    > label {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.products-top {
  padding: 0.5em;
  > h2 {
    color: #697723;
  }

  .ivu-col {
    margin-bottom: 0.25em;
  }

  img {
    width: 100%;
  }

  .item-explain p {
    font-size: 0.7em;
  }
}

.detail-explain {
  > p {
    margin-bottom: 1.5em;
    font-size: 1.5em;
  }

  > .option {
    font-size: 1.2em;
    > div {
      margin-bottom: 0.5em;
    }

    > p {
      text-align: right;
      margin-bottom: 0.5em;
      font-size: 1.5em;
    }
  }
}

.shop-button {
  color: white;
  height: 40px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 0.5em;
  cursor: pointer;
  &.buy {
    background: #e2d2bc;
    margin-top: 0.5em;
    &:hover {
      background: #e0cbb6;
    }
  }

  &.cart {
    background: #c5a982;
    &:hover {
      background: #5f5f5f;
    }
  }
}

.detail-explain .description {
  > h2 {
    margin-bottom: 0.5em;
  }
  p {
    font-size: 14px;
  }
}

.checkbox-selecter {
  display: inline-flex;
  flex-wrap: wrap;
  > .select-item {
    border: 1px solid #D3D3D3;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    &:active, &.selected {
      color: #e2d2bc;
      border: 1px solid #e2d2bc;
    }
  }
}

.product-detail {
  .explain {
    padding: 1rem;
    .top {
      display: flex;
      justify-content: space-between;
      h1 {
        margin-bottom: 0.5rem;
      }
  
      .price {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}
