<!doctype html>
<html {{ html_attrs }}>
  <head {{ head_attrs }}>
    {{ HEAD }}
  </head>
  <body {{ body_attrs }}>
    {{ APP }}
  <script type="text/javascript" src="/_nuxt/b1c1a329aa5b93626958.js"></script><script type="text/javascript" src="/_nuxt/a72d9d35a37800c6ba5b.js"></script><script type="text/javascript" src="/_nuxt/33f3c96dcb665744a65d.js"></script><script type="text/javascript" src="/_nuxt/b2170f3924586ae2d65d.js"></script></body>
</html>
