<template>
  <div>
    <logo />
    <!-- <carousel-top /> -->
    <carousel-bottom />
    <products-sale title="熱賣商品-HOT" productKey="hot" />
    <products-sale title="最新商品-NEW" productKey="new"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import * as types from '~/store/mutations_type.js';
import CarouselTop from '~/components/CarouselTop.vue';
import CarouselBottom from '~/components/CarouselBottom.vue';
import ProductsSale from '~/components/ProductsSale.vue';

export default {
  data() {
    return {
      ip: ""
    }
  },
  async asyncData (context) {
    const store = context.store;
    await store.dispatch('fetchHomeData');
    const res = await store.dispatch('fetchBanner');
    // console.log(res);
    return { res }
  },
  created() {

  },
  mounted() {
  },
  methods: {
    ...mapActions([
      'fetchHomeData'
    ]),
    async fetchSomething() {
      const ip = await this.$axios.$get('https://api.kcg.gov.tw/api/service/Get/02a18991-bed7-439a-867f-75d3e2920223')
      this.ip = ip
    },
    sendData() {
      this.value2 = true;
      this.fetchSomething();
    }
  },
  components: {
    Logo: () => import(/* webpackChunkName: 'Logo' */ '~/components/Logo.vue'),
    CarouselTop,
    CarouselBottom,
    ProductsSale
  }
}
</script>

<style>
</style>
