<template>
    <Row class-name="product-detail">
        <Col>
            <Carousel autoplay loop :autoplay-speed="3000">
                <CarouselItem
                v-for="(file, index) in item.files"
                :key="file.fileName">
                    <img :src="getImage(file)" :alt="item.name">
                </CarouselItem>
            </Carousel>
        </Col>
        <Col class-name="explain">
            <div class="top">
                <h1>{{item.name}}</h1>
                <span class="price">NT ${{item.price}}</span>
            </div>
            <div>
                <div v-if="item.options">
                    <label>顏色：</label>
                    <div class="checkbox-selecter">
                        <div
                            v-for="option in item.options"
                            :key="option.id"
                            class="select-item"
                            :class="{ 'selected': payload.id === option.id }"
                            @click="selectColor(option)">{{option.color}}</div>
                    </div>
                </div>
                <div>
                    <label>數量：</label>
                    <Select v-model="payload.amount" style="width:100px">
                        <Option v-for="item in 5" :value="item" :key="item">{{ item }}</Option>
                    </Select>
                </div>
                <div class="shop-button buy">
                    <span>直接購買</span>
                </div>
                <div class="shop-button cart" @click="addCart">
                    <span>加入購物車</span>
                </div>
            </div>
            <p v-html="item.description"></p>
        </Col>
    </Row>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    data() {
        return {
            payload: {
                id: null,
                color: '',
                amount: 1
            }
        }
    },
    async asyncData (context) {
        const store = context.store;
        const { id } = context.route.params;
        const res = await store.dispatch('fetchProductById', id);
        
        return { item: res.val()[id] }
    },
    methods: {
        ...mapActions([
            'increaseCart'
        ]),
        getImage(item) {
            if (item.fullUrl) {
                return item.fullUrl;
            }
            return 'https://fakeimg.pl/1024x1024/?text=Hello';
        },
        selectColor(item) {
            const { id, color } = item;
            Object.assign(this.payload, { id, color });
            console.log(this.payload);
        },
        addCart() {
            console.log(this.item);
            console.log(this.payload);
            this.increaseCart(this.item);
        }
    }
}
</script>