<template>
    <Drawer
        :width="width"
        :closable="false"
        :value="showDrawerOption.show"
        @on-close="change">
        <Carousel v-if="showDrawerOption.show">
            <CarouselItem
              v-for="(file, index) in productItem.files"
              :key="file.fileName">
								<img :src="getImage(file)" :alt="productItem.name">
            </CarouselItem>
        </Carousel>
		<Divider />
        <div class="detail-explain">
          <p>{{productItem.name}}</p>
          <div class="option">
            <div>
              <label>顏色：</label>
              <div class="checkbox-selecter">
                <div
                  v-for="item in productItem.options"
                  :key="item.id"
                  class="select-item"
                  :class="{ 'selected': payload.id === item.id }"
                  @click="selectColor(item.id)">{{item.color}}</div>
              </div>
            </div>
            <div>
              <label>數量：</label>
              <InputNumber v-model="payload.amount"></InputNumber>
            </div>
            <p>NT${{productItem.price}}</p>
          </div>
          <div class="shop-button buy">
            <span>直接購買</span>
          </div>
          <div class="shop-button cart">
            <span>加入購物車</span>
          </div>
          <Collapse simple :value="collapseValue">
              <Panel name="1">
                  商品介紹
                  <div slot="content" v-html="productItem.description"></div>
              </Panel>
          </Collapse>

        </div>

    </Drawer>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            imageIndex: 0,
            collapseValue: [],
            payload: {
                id: null,
                color: '',
                amount: 1
            }
        }
    },
    computed: {
        ...mapGetters([
            'products',
            'showDrawerOption',
            'selectedProductId'
        ]),
        hotProducts() {
            return this.products.hot || {};
        },
        newProducys() {
            return this.products.new || {}
        },
        productItem() {
            return this.hotProducts[this.selectedProductId] || this.newProducys[this.selectedProductId] || {};
        },
        width() {
            return document.body.offsetWidth < 1024 ? 80 : 40;
        }
    },
    methods: {
        ...mapActions([
            'setShowDrawerOption'
        ]),
        change() {
            this.setShowDrawerOption({ show: false });
            this.collapseValue = [];
        },
        getImage(item) {
            if (item.fullUrl) {
                return item.fullUrl;
            }
            return 'https://fakeimg.pl/1024x1024/?text=Hello';
        },
        selectColor(colorId) {
            console.log(colorId);
            this.payload.id = colorId;
        }
    }
}
</script>
