<template>
    <Drawer title="分類" placement="left" :closable="false" :value="showDrawer" @on-close="change">
        <ul class="drawer-menu">
            <li>所有商品</li>
            <li>早苗帆布-新品上架</li>
            <li>早苗帆布-全館熱銷專區</li>
            <li>早苗帆布-側背包</li>
            <li>早苗帆布-後背包</li>
            <li>早苗帆布-保溫系列</li>
            <li>早苗帆布-蠟線、麻繩編織系列</li>
            <li>早苗帆布-手提包</li>
            <li>早苗帆布-肩背包</li>
            <li>早苗帆布-小物專區</li>
            <li>早苗帆布-居家收納</li>
            <li>日本toleur帆布包</li>
            <li>早苗帆布-團購專區</li>
        </ul>
    </Drawer>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    data() {
    return {}
  },
  computed: {
    ...mapGetters([
      'showDrawer'
    ])
  },
  methods: {
      ...mapActions([
        'setShowDrawer'
      ]),
      change() {
          this.setShowDrawer(false)
      }
  }
}
</script>