<template>
    <Carousel autoplay v-model="imageIndex" loop :autoplay-speed="5000">
      <CarouselItem v-for="(item, key) in placards" :key="key">
          <img :src="item.files[0].fullUrl">
      </CarouselItem>
  </Carousel>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    data() {
      return {
        imageIndex: 0
      }
  },
  computed: {
    ...mapGetters([
      'carousel'
    ]),
    placards() {
      return this.carousel.placard
    }
  }
}
</script>