<template>
  <Carousel autoplay v-model="imageIndex" loop :autoplay-speed="3000">
    <CarouselItem v-for="(item) in banners" :key="item.carouselId">
        <img :src="item.files[0].fullUrl">
    </CarouselItem>
  </Carousel>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      imageIndex: 0
    }
  },
  computed: {
    ...mapGetters([
      'carousel'
    ]),
    banners() {
      return this.carousel.banner
    }
  }
}
</script>

<style lang="css">
</style>
