<template>
  <div class="logo" :class="{ 'link': mode === 'link' }">
    <img v-if="mode === 'default'" src="../assets/images/logo.jpg" alt="logo">
    <img v-else src="../assets/images/logo-link.png" alt="logo-link">
  </div>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      default: 'default'
    }
  }
}
</script>

<style lang="scss" scoped>
  
</style>
