<template>
  <div class="products-top" v-show="products[productKey]">
    <h2>{{title}}</h2>
    <Row :gutter="4">
        <Col
          v-for="(item, id, index) in products[productKey]"
          :key="id"
          :xs="12" :sm="12" :md="8" :lg="6">
          <Card @click.native="handleClick(id)">
              <img :src="getImage(item, index)" alt="p" :ref="`img${index}`">
              <div class="item-explain">
                <p>{{item.name}}</p>
                <p>{{`NT$${item.price}`}}</p>
              </div>
          </Card>
        </Col>
    </Row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  data() {
    return {}
  },
  props: {
    title: String,
    productKey: String
  },
  computed: {
    ...mapGetters([
      'products'
    ])
  },
  methods: {
    ...mapActions([
      'setShowDrawerOption',
      'setSelectedProductId'
    ]),
    getImage(item, index) {
      if (item.files) {
        return item.files[0].fullUrl;
      } else {
        return 'http://fakeimg.pl/100x100/?text=Loading';
      }
    },
    handleClick(id) {
      // this.$router.push({ path: `/ProductDetail/${id}` });
      this.$router.push({ name: 'productDetail-id', params: { id } });
      // this.setSelectedProductId(id);
      // this.setShowDrawerOption({ show: true, title: '商品資訊' });
    }
  }
}
</script>

<style lang="css">
</style>
