<template>
    <div>
        <carousel-bottom />
        <div class="link-title">Follow SANAE Here</div>
        <Row class="link-group">
            <Col
                v-for="item in linkList"
                :key="item.title"
                :xs="20" :md="10" :lg="8"
                @click.native="linkClick(item)">{{item.title}}</Col>
        </Row>
        <div class="viewers">累積人氣：{{viewersCount}}</div>
        <div id=”fb-root”></div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import CarouselBottom from '~/components/CarouselBottom.vue';

export default {
    layout(context){
        return 'Link'
    },
    components: {
        CarouselBottom
    },
    data() {
        return {
            url: 'https://node-tool.herokuapp.com/notify/line' //'http://192.168.68.121:5000/notify/line'
        }
    },
    async asyncData (context) {
        const store = context.store;
        await store.dispatch('fetchHomeData');
    },
    computed: {
        ...mapGetters([
            'viewersCount'
        ]),
        linkList() {
            return [
                { title: 'shopee蝦皮商城', url: 'https://shopee.tw/st2162930' },
                { title: 'yahoo奇摩購物中心', url: 'https://tw.buy.yahoo.com/ystore/sanae66' },
                { title: 'facebook臉書粉絲專頁', url: 'https://www.facebook.com/sanaebag' },
                { title: 'instagram IG社群', url: 'https://www.instagram.com/sanaestore/?hl=zh-tw' }
            ]
        }
    },
    created() {
        
        },
    async mounted() {
        await this.fetchViewersCount();
        await this.increaseViewer(this.viewersCount + 1);
        this.sendLineMessage(`Sanae 有人點擊了唷！！ 人氣：${this.viewersCount}`);
    },
    methods: {
        ...mapActions([
            'fetchViewersCount',
            'increaseViewer'
        ]),
        linkClick(item) {
            const { title, url } = item;
            window.open(url , '_blank');
            this.sendLineMessage(`點擊：${title}`);
        },
        sendLineMessage(msg) {
            const data = {
                
                token: 'UQf7sXgKqedJm0HMEzjwtgveTgZXGXQC6J4glXAUH0m', // 早苗帆布
                msg
            }
            
            fetch(this.url, {
                method: 'POST', // or 'PUT'
                // mode: 'no-cors',
                body: JSON.stringify(data), // data can be `string` or {object}!
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            })
        }
    }
}
</script>