<template>
  <div>
    <Layout>
        <Header>
          <Icon type="ios-list" size="40" @click="handleClickDrawer"/>
          <div>
            <Badge :offset="[20, 5]" :count="cartList.length">
                <Icon type="ios-cart-outline" size="32" />
            </Badge>
            <Icon type="ios-information-circle-outline" size="32" />
          </div>
        </Header>
        <Content>
          <nuxt />
        </Content>
        <Footer>
          <p>Copyright © 2018 SANAE All rights reserved</p>
          <div>
            <ul>
              <li>關於我們</li>
              <li>聯繫我們</li>
              <li>蝦皮賣場</li>
            </ul>
          </div>
        </Footer>
    </Layout>
    <drawer-menu />
    <client-only>
      <drawer-option />
    </client-only>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  data() {
    return {}
  },
  mounted() {},
  computed: {
    ...mapGetters([
      'cartList'
    ])
  },
  mounted() {
    console.log('ready---');
    
  },
  methods: {
    ...mapActions([
      'setShowDrawer'
    ]),
    handleClickDrawer() {
      this.setShowDrawer(true);
    }
  },
  components: {
    // Logo: () => import(/* webpackChunkName: 'Logo' */ '~/components/Logo.vue'),
    DrawerMenu: () => import(/* webpackChunkName: 'DrawerMenu' */ '~/components/Drawer/DrawerMenu.vue'),
    DrawerOption: () => import(/* webpackChunkName: 'DrawerOption' */ '~/components/Drawer/DrawerOption.vue')
  }
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
