<template>
    <div class="link-wrap">
        <logo mode="link" />
        <div class="sanse-store"></div>
        <div class="since">based in TAIWAN since 2005</div>
        <nuxt />
    </div>
</template>

<script>
export default {
    components: {
        Logo: () => import(/* webpackChunkName: 'Logo' */ '~/components/Logo.vue')
    }
}
</script>

<style lang="scss" scoped>
    
</style>